// HEADER
.nav-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.35)),
    url("../assets/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 95vh;

  header {
    margin-top: 25vh;
    div {
      h1 {
        font-size: 4vw;
      }
      #header-p {
        text-align: center;
        width: 40vw;
        font-size: 1.5vw;
        opacity: 60%;
      }
      .get-started > p {
        margin: 0;
        padding: 0.5vw;
        font-weight: 900;
        font-size: 1vw;
        width: 10vw;
      }
    }
  }
}
// NAVBAR
nav {
  div {
    a {
      font-weight: 900;
      span {
        opacity: 50%;
      }
    }
  }
}
// CONTENT
// SECTION 1
.section1 {
  margin: 1vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .section1-div1 {
    display: flex;
    flex-direction: column;
    width: 30vw;

    h1 {
      font-size: 3vw;
    }
    p {
      opacity: 50%;
      font-size: 1.5vw;
    }
  }
  .section1-div2 {
    display: flex;
    flex-direction: column;
    width: 30vw;
  }
}
// SECTION 2
.section2 {
  background-color: #f6f6f5;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// SECTION 3
.section3 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
